html,
body,
div#conteudo {
    width: 100%;
    height: 100%;
    background-color:#f0f0f0;
    font-family: 'Open Sans Condensed', sans-serif;
}

/*Loader*/
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
    border: 15px solid #f0f0f0;
    border-radius: 50%;
    border-top: 15px solid #101010;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}

/*Imagem do início*/
div.imgInicio {
    width: 100%;
    height: 100%;
    background: url(../img/home_site.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

/*Nav*/
nav.navbar-custom {
	background-color: #101010;
	border-color: transparent;
    padding: 20px 0;
}

nav.navbar-custom a.navbar-brand {
    padding: 0;
}

nav.navbar-custom button.navbar-toggle {
	background-color:#3c65af;
	border-color:#3c65af;
    color:#fff;
	font-size: 25px;
}
nav.navbar-custom button.navbar-toggle:focus,
nav.navbar-custom button.navbar-toggle:hover {
	background-color: #294875;
}

nav.navbar-custom ul.nav li a {
	font-size: 25px;
    color:#fff;
    padding: 15px 5px;
    margin: 1px;
	letter-spacing: 1px;
}
nav.navbar-custom ul.nav li a:focus,
nav.navbar-custom ul.nav li a:hover {
	color:#3c65af;
    border-bottom: 1px solid #ff0000;
}

/*Início*/
div#inicio {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    right: 0;
    margin: -25px 0 -25px 0;
    text-align: center;
}

div#inicio h1 {
    color: #f0f0f0;
    letter-spacing: 4px;
    font-size: 40px;
    padding: 10px 50px;
    background: rgba(0, 0, 0, 0.8);
}
div#inicio span {
    background: #3c65af;
    padding: 0 15px;
    font-weight: bold;
}

div#inicio a.btn {
    background: #3c65af;
    color: #f0f0f0;
    border-radius: 5px;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 12px 42px;
    margin: 5px;
    transition: all .5s ease;
}
div#inicio a.btn:hover {
    color: #fff;
    background: #294875;
}

/*Todas as Sections*/
section img.img-center {
	margin: 0 auto;
}
section h1 {
    font-weight: bold;
    font-size: 40px;
}
section h2 {
    font-size: 30px;
}
section h3 {
    font-size: 25px;
}
section p {
    font-size: 20px;
}

/*Benefícios*/
section#beneficio {
    background-color: #294875;
    color: #fff;
    min-height: 100%;
    padding: 65px 50px 0 50px;
}

section#beneficio div.img-sections {
    margin: 15px 0;
    padding: 10px;
    min-height: 450px;
}

/*Depoimentos*/
section#depoimento {
    background-color: #101010;
    color: #f0f0f0;
    min-height: 100%;
    padding: 65px 50px 0 50px;
}

div#quote-carousel {
    margin-top: 50px;
    padding: 0 40px 30px 40px;
}
div#quote-carousel ol.carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
div#quote-carousel ol.carousel-indicators li {
    background: #294875;
}
div#quote-carousel ol.carousel-indicators .active {
    background: #f0f0f0;
}
div#quote-carousel img {
    width: 100px;
    height: 100px
}
div.item blockquote {
    border-left: none; 
    margin: 0;
}
div.item blockquote img {
    margin-bottom: 10px;
}

/*Estatística*/ 
section#estatistica {
    background-color: #294875;
    min-height: 55%;
    padding: 65px 50px 0 50px;
    text-align: center;
    color: #f0f0f0;
}

section#estatistica h2.estatistica-info {
    letter-spacing: 2px;
    font-size: 40px;
}
section#estatistica p.counter-value {
    font-size: 30px;
}

/*Cadastre-se*/ 
section#cadastre-se {
    padding: 0 50px 25px 50px;
    min-height: 45%;
    text-align: center;
    color: #101010;
}

section#cadastre-se h1.page-header {
    border-bottom: 1px solid #252525;
}

section#cadastre-se a.btn {
    background: transparent;
    border: 2px solid #101010;
    border-radius: 5px;
    font-weight: bold;
    color: #101010;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 12px 42px;
    transition: all .5s ease;
}
section#cadastre-se a.btn:hover {
    border-bottom: 3px solid #000;
    color: #000;
}

/*Localização*/
section#localizacao {
    background-color: #101010;
    color: #fff;
    min-height: 100%;
    padding: 65px 50px 50px 50px;
}
div.map iframe {
    padding: 0;
	width: 100%;
    height: 450px;
	display: block;
	pointer-events: none;
	position: relative;
}
div.map iframe.clicked{
	pointer-events: auto;
}

/*Desenvolvedores*/ 
section#desenvolvedores {
    padding: 0 50px;
    min-height: 75%;
    text-align: center;
    color: #101010;
}

section#desenvolvedores h1.page-header {
    border-bottom: 1px solid #252525;
}

/*Rodapé*/
footer {
    padding: 10px 0;
}
footer p {
    font-size: 20px;
    color: #000;
}

/*Scroll*/
a.scroll-top {
    margin: 0 -16px 0 -16px;
    cursor: pointer;
}

/*Login e Register*/
div.backgroundLoginandRegister {
    background: url(../img/home_login_register.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
    padding: 25px 0;
}
section.loginandRegister {
    text-align: center;
    margin: 0 auto;
    max-width: 350px;
    padding: 25px;
    border-radius: 10px;
    background-color: #294875;
}
section.loginandRegister h1 {
    color: #f0f0f0;
    font-size: 50px;
    font-weight: normal;
}
section.loginandRegister div#divResult {
    display: none;
    font-size: 18px;
}
section.loginandRegister form.form-users label {
    color: #f0f0f0;
    padding: 5px 0;
    font-size: 15px;
}
section.loginandRegister form.form-users label.radio-inline {
    padding: 5px 20px;
}
section.loginandRegister form.form-users .form-control {
    height: inherit;
    padding: 10px;
    font-size: 20px;
}
section.loginandRegister form.form-users input[type="number"],
section.loginandRegister form.form-users input[type="password"] {
    margin-bottom: 20px;
}
section.loginandRegister .btn {
    width: 100%;
    color: #f0f0f0;
    border: 2px solid #f0f0f0;
    background: transparent;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: 2px;
}
section.loginandRegister .btn-register {
    padding: 12px 0;
}
section.loginandRegister .btn-access {
    padding: 12px 0;
}
section.loginandRegister .btn:hover {
    border-bottom: 3px solid #fff;
    color: #fff;
}

/* Melhorar para display menores \/ */
/*Margin top*/
div.marginTopNav {
    margin-top: 100px;
}

/*Card usuário*/
ul.cards {
    text-align: center;
    margin-left: -55px;
}
ul.cards li {
    display: inline-block;
    margin: 10px 10px;
}
div.profile-box {
    width: 300px;
    min-height: 200px;
    padding: 5px;
    background: #fcfcfc;
    border-radius: 5px;
    border: 2px solid #c7c7c7;
    transition: all 700ms ease;
}
div.profile-box:hover {
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3)
}
div.profile-title h1 {
    font-size: 30px;
    color: #101010;
}

div.profile-content p {
    font-size: 20px;
    color: #252525;
}
div.profile-button {
    bottom: 0;
}
div.profile-button button {
    margin-top: 10px;
    font-size: 18px;
    padding: 5px 20px;
    background-color: #20385a;
    border-color: #20385a;
    color: #fff;
    text-decoration: none;
}

div.divVertical {
    top: 0;
    width: 100%;
    padding: 12px 0 2px 0;
    text-align: center;
}

/* Table horários */
table#horarios {
    font-size: 18px;
}

table#horarios > thead > tr > th {
    color: blue;
    padding: 25px;
    font-size: 25px;
    text-align: center;
}

table#horarios > tbody > tr > td {
    padding: 15px 5px;
    font-size: 18px;
    text-align: center;
}

/* Table agendamento */
table#agendamento,
table.k-content {
    font-size: 18px;
}

table#agendamento > thead >tr > th,
table.k-content > thead >tr > th {
    padding: 25px;
    font-size: 18px;
    text-align: center;
}

table#agendamento > tbody > tr > td {
    font-size: 18px;
    text-align: center;
}

span.necessidadeOkay {
    color: #1ab921;
    background: #fff;
    border-radius: 45px;
    padding: 5px;
    border: 2px solid;
    box-shadow: 0px 0px 11px -5px #000;
}

span.necessidadeNo {
    color: #de2315;
    background: #fff;
    border-radius: 45px;
    padding: 5px;
    border: 2px solid;
    box-shadow: 0px 0px 11px -5px #000;
}

/* Dropdown */
nav.navbar-custom ul.navbar-nav li.open ul.dropdown-menu {
    background-color: #101010;
}
nav.navbar-custom ul.navbar-nav li.open ul.dropdown-menu>li>a {
    color:#fff;
}
nav.navbar-custom ul.navbar-nav li.open ul.dropdown-menu li a:focus,
nav.navbar-custom ul.navbar-nav li.open ul.dropdown-menu li a:hover {
    color:#3c65af;
    border-bottom: 1px solid #ff0000;
    background-color: transparent;
}

/* Timeline */
.timeline {
    position: relative;
    padding: 21px 0px 10px;
    margin-bottom: 30px;
}
.timeline .line {
    position: absolute;
    width: 4px;
    display: block;
    background: currentColor;
    top: 0px;
    bottom: 0px;
    margin-left: 30px;
}
.timeline .line::before {
    top: -4px;
}
.timeline .line::after {
    bottom: -4px;
}
.timeline .line::before,
.timeline .line::after {
    content: '';
    position: absolute;
    left: -4px;
    width: 12px;
    height: 12px;
    display: block;
    border-radius: 50%;
    background: currentColor;
}
.timeline .panel {
    position: relative;
    margin: 10px 0px 21px 70px;
    clear: both;
}
.timeline .panel::before {
    position: absolute;
    display: block;
    top: 8px;
    left: -24px;
    content: '';
    width: 0px;
    height: 0px;
    border: inherit;
    border-width: 12px;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.timeline .panel .panel-heading.icon * {
    font-size: 20px;
    vertical-align: middle;
    line-height: 40px;
}
.timeline .panel .panel-heading.icon {
    position: absolute;
    left: -59px;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0px;
    border-radius: 50%;
    text-align: center;
    float: left;
}

/*@MEDIA*/
@media (max-width:767px) {
    section#estatistica div.estatistica-grid {
        margin: 20px 0;
    }
    nav.navbar-custom {
        padding: 5px 0;
    }
    nav.navbar-custom a.navbar-brand {
        margin: 10px;
    }
    div#quote-carousel ol.carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    div#quote-carousel ol.carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}
@media screen and (max-width:480px) {
    section#beneficio,
    section#depoimento,
    section#estatistica {
        padding: 50px 20px 0 20px;
    }
    section#cadastre-se {
        padding: 0 20px 25px 20px;
    }
    section#localizacao {
        padding: 50px 20px 50px 20px;
    }
    section#desenvolvedores {
        padding: 0 20px;
    }
    nav.navbar-custom ul.nav li a,
    nav.navbar-custom button.navbar-toggle {
	    font-size: 20px;
    }
    div#inicio h1 {
        font-size: 30px;
        padding: 10px 20px;
    }
    div#inicio a.btn {
        font-size: 18px;
        padding: 10px 30px;
    }
    section h1 {
        font-size: 35px;
    }
    section h2 {
        font-size: 28px;
    }
    section h3 {
        font-size: 22px;
    }
    section p {
        font-size: 18px;
    }
    div#quote-carousel {
        margin-top: 50px;
        padding: 0 0 30px 0;
    }
    section#estatistica p {
        font-size: 25px;
    }
    section#estatistica h2 {
        font-size: 35px;
    }
    section#cadastre-se a.btn { 
        font-size: 18px;
        padding: 10px 30px;
    }
    footer p {
        font-size: 18px;
    }
}
